#resume-div{
  /* set temprory height */
  height: 700px;
  background-color: white;
  border: 2px solid black;


  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#left-div{
  /* temprory attributes */
  background-color: #616161;

  width: 30%;
  float: left;
}

#right-div{
  /* temprory attributes */
  background-color: blue;

  width: 70%;
  float: right;
}

.column-div{
  height: 100%;
}

#title-div{
  /* temprory attributes */
  background-color: aqua;

  height: 30%;

}

#name-heading{
  font-size: 70px;
  text-align: center;
}

#profile-pic{
  height: 100%;
  width: 100%;
}

#profile-pic-div{
  height: 150px;
  width: 150px
}