/* 1275 = 100*/
/* n = ? */
/* ? = 100 * n/1275 */
.main-div {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;

}




#photo-div {
  background-image: url('./main-img.jpg');

}



#projects-div-1 {
  background-image: url('project.jpg');
}


#project-heading {
  font-size: 60;
  margin: 0;
  color: white;
  margin-bottom: 1.10864745011%;
}

.portfolio-icon{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-end;
}
.portfolio-icon-2{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}
.welcome-note {
  color: white;
  margin: 0;
}
.project-container{
  margin-bottom: 1.66297117517%;
}
.project-description {
  font-size: 1.3em;
  color: white;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image{
  height: 20.7647058824%;
  width: 40.5294117647%;
}







#skills-div {
  background-color: black;
}
.expertise-class {
  color: white;
  max-height: inherit
}
#my-expertise {
  margin: 0%;
  font-size: 5em;
}
.logo-row {
  padding-top: 3.32594235033%;
  max-height: inherit

}
.project-div{
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: inherit

}

.skills {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 25.31485587583%;
  max-height: inherit

}
.skill-text {
  font-size: 1.5em;
}







#contact-details{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
#contact-container{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-between;
  height: 100%;
  max-height: inherit

}
