.main-div {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;

}




#photo-div {
  background-image: url('./main-img.jpg');

}



#projects-div-1 {
  background-image: url('project.jpg');
}


#project-heading {
  font-size: 60;
  margin: 0;
  color: white;
  margin-bottom: 20px;
}

.portfolio-icon{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-end;
}
.portfolio-icon-2{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}
.welcome-note {
  color: white;
  margin: 0;
}
.project-container{
  margin-bottom: 30px;
}
.project-description {
  font-size: 18px;
  color: white;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image{
  height: 150px;
  width: 300px;
}







#skills-div {
  background-color: black;
}
.expertise-class {
  color: white;
}
#my-expertise {
  margin: 0;
  font-size: 60px;
}
.logo-row {
  padding-top: 60px
}
.project-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 150px;
}
.skill-text {
  font-size: 20px
}
